* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

.wrapper {
	height: 50px;
	width: 100%;
	font-size: 16px;
}

.menu {
	list-style-type: none;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	background-color: deepskyblue;
}

.menu-item {
	padding: 1em;
	justify-content: center;
	position: relative;
}

.menu-item a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.menu-item:hover {
	background-color: #9dd1e2;
}

.menu-item:nth-child(1):hover {
	background-color: deepskyblue;
}

#search {
	border-radius: 2px;
	height: 100%;
}

::placeholder {
	color: gray;
	padding: 5%;
	font-size: 14px;
}

@media (max-width: 500px) {
	.menu {
		flex-direction: column;
	}

	.menu-item {
		border-bottom: 1px solid #777;
	}

	.menu-item:nth-child(4) {
		border-bottom: none;
	}
}

.search-item {
	position: relative;
	width: 100%;
	height: 100%;
}

.suggestion {
	list-style-type: none;
	position: absolute;
	top: 110%;
	width: 100%;
}

.sug-item {
	background-color: white;
	border: solid 1px #eee;
	border-top: none;
	width: 100%;
}

.clear {
	clear: both;
}

.name {
	float: left;
}

.age {
	float: right;
}


.dropdown {
	opacity: 0;
	display: none;
	transition: all 0.5s linear;
	overflow: hidden;
	position: absolute;
	left: 50%;
	transform: translate(-50%,50px);
}

.background {
	background-color: lightblue;
	opacity: 0;
	display: none;
	position: absolute;
	transition: all 0.2s linear;
}

.background.bg-display {
	display: block;
}

.background.bg-display.bg-appear {
	opacity: 1;
}

.dropdown-appear > .dropdown{
	opacity: 1;
}

.dropdown-display > .dropdown{
	display: block;
}

.dropdown1 {
	width: 300px;
	padding: 10px;
}

.dropdown2 {
	width: 150px;
	text-align: center;
	padding: 10px;
}

.dropdown3 {
	width: 100px;
	padding: 10px;
}

.dropdown3 button {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
}

