* {
	padding: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

.content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

body {
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
}

.content {
	position: relative;

}

.thumb {
	padding: 10px;
	border: 2px solid white;
	background-color: rgba(200,200,200,0.8);
	border-radius: 4px;
	opacity: 0.8;
	text-align: center;
	font-weight: bold;
	color: black;
	margin-bottom: 10px;
	transition: all 0.5s linear;	
}

.key {
	font-size: 30px;
}

.playing {
	box-shadow: 0px 0px 10px 3px yellow;
	transform: scale(1.2);
}

@media (min-width: 768px) and (max-width: 992px) {
	.col-xs-4 {
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.thumb {
		padding: 5px;
	}
	.sound {
		font-size: 13px;
	}
}
