* {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
}

.bg {
	margin-top: 15%;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	text-align: center;
}

.gift {
	animation: gift 6s ease 1;
	width: 100%;
}

@keyframes gift {
	0%  { 
		content:url('../images/newgift.png');
	}
	20%  { 
		transform:translate(200px,0px); 
		content:url('../images/newgift.png');
	}
	24%  { 
		transform:translate(-200px,0px); 
		content:url('../images/newgift.png');
	}
	28%  { 
		transform:translate(120px,0px); 
		content:url('../images/newgift.png');
	}
	32%  { 
		transform:translate(-120px,0px); 
		content:url('../images/newgift.png');
	}
	40%  { 
		transform:translate(50px,0px); 
		content:url('../images/newgift.png');
	}
	48%  { 
		transform:translate(-50px,0px);
		content:url('../images/newgift.png');
	}
	55% {
		transform:translate(0px,0px); 
		content:url('../images/newgift.png');
	}
	65%  { 
		transform:rotateX(30deg);
		content:url('../images/newgift.png');
	}
	70%  { 
		transform:rotateX(-30deg);
		content:url('../images/newgift.png');
	}
	76%  { 
		transform:rotateX(40deg);
		content:url('../images/newgift.png');
	}
	85%  { 
		transform:rotateX(50deg);
		content:url('../images/newgift.png');
	}
	95%  { 
		content:url('../images/gift3.png');
	}
	100%  { 
		display: none;
	}
}

.hpny {
	font-size: 3.5vw;
	text-transform: uppercase;
	font-weight: bold;
	color: transparent;
	font-family: Lucida Handwriting;
	letter-spacing: 2px;
	animation: hpny 6s ease infinite;
	animation-delay: 6s;
}

@keyframes hpny {
	0% {
		display: none;
		transform: rotateX(90deg);
	}
	20% {
		color: white;
		transform: none;
		text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px grey;
	}
	40% {
		color: white;
		transform: none;
		text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 10px green;
	}
	60% {
		color: white;
		transform: none;
		text-shadow: 1px 1px 2px orange, 0 0 25px orange, 0 0 5px orange;
	}
	80% {
		color: white;
		transform: none;
		text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	}
	100% {
		display: none;
	}
}

.year {
	letter-spacing: 20px;
	font-size: 8vw;
	font-weight: bold;
	color: transparent;
	font-family: Courier New;
	animation: year 2s ease infinite;
	animation-delay: 6s;
}

@keyframes year{
	0% {
		color: white;
		transform: scale(0);
	}
	50% {
		color: white;
		transform: scale(1);
	}
	100% {
		color: white;
		transform: scale(0);
	}
}

.congrat {
	color: white;
	font-size: 2vw;
	font-family: Courier New;
	animation: congrat 4s ease 1;
	animation-delay: 6s;
}

@keyframes congrat{
	0% {
		color: transparent;
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

.logo {
	position: fixed;
	top: 10px;
	left: 20px;
	width: 15%;
}

.logo img {
	width: 100%;
}

audio {
	display: none;
}