* {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
}

img {
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.cal_body {
	opacity: 0.9;
	margin-top: 10%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid lightgray;
	box-shadow: 3px 3px 10px white;
	border-radius: 7px; 
	background-color: white;
	padding: 2%;
}

.cal_inside {
	width: 100%;
	height: 100%;
}

.answer {
	width: 100%;
	padding: 4px;
}

.answer input {
	border: 1px solid lightgray;
	width: 100%;
	height: 50px;
	text-align: right;
	padding: 5px;
	font-size: 1.5em;
}

.btn_group {
	width: 100%;
}

.btn {
	width: 20%;
	float: left;
	padding: 4px;
}

.btn button {
	border: 1px solid grey;
	width: 100%;
	height: 35px;
}

.clear {
	clear: both;
}

.operation {
	width: 100%;
	padding: 4px;
	text-align: right;
	color: gray;
}

#btn_bang {
	background-color: #4d90fe;
	color: white;
}
